@charset "utf-8";
$bgcolor: #D51E12;
$fontFamily: pingfangSC,
Arial,
Helvetica,
sans-serif;
$fontColor: #fff;
$bgtc: #ECECEC;
$baseFontSize: 75;
.container {
  background: rgb(245,245,245);
  margin-top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swiper-contenthome {
  padding: 0 28rem/$baseFontSize;
  padding-top: 42rem/$baseFontSize;
  padding-bottom: 22rem/$baseFontSize;
  background-image: linear-gradient(#fff, rgb(245,245,245));
}

.backhome {
  position: relative;
  height: 292rem/$baseFontSize;
  border-radius: 8px;
  overflow: hidden;
  /*background: url("../../assets/image/homeBac.png") no-repeat center center;*/
  background-size: 100% 100%;
  @media screen and (min-width: 768px) {
    .swiper-inner {
      width: 100%;
      position: absolute;
      /*<!--bottom: 24rem/$baseFontSize;-->*/
      .swiper-slide {
        text-align: center;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0);
        height: 292rem/$baseFontSize;
        width: 100%;

        img {
          height: 292rem/$baseFontSize;
          width: 100%;
        }
      }

      .banner {
        height: 292rem/$baseFontSize;
        width: 100%;

        img {
          height: 292rem/$baseFontSize;
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .swiper-inner {
      width: 100%;
      position: absolute;
      /*<!--bottom: 24rem/$baseFontSize;-->*/
      .swiper-slide {
        text-align: center;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0);
        height: 292rem/$baseFontSize;
        width: 100%;

        img {
          height: 292rem/$baseFontSize;
          width: 100%;
        }
      }

      .banner {
        height: 292rem/$baseFontSize;
        width: 100%;

        img {
          height: 292rem/$baseFontSize;
          width: 100%;
        }
      }
    }

  }

}

.product-box {
  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: space-between;

    .navigation-item {
      margin-top: 32rem/$baseFontSize;
      flex: 0 0 25%;

      .navigation-img {
        text-align: center;

        img {
          width: 100rem/$baseFontSize;
          height: 100rem/$baseFontSize;
        }
      }

      .navigation-name {
        font-size: 26rem/$baseFontSize;
        text-align: center;
      }
    }
  }

  .advertisement-img {
    width: 90%;
    margin: 0 auto;
    height: 172rem/$baseFontSize;
    margin-top: 56rem/$baseFontSize;
  }

  .health-serve-title {
    margin-top: 43rem/$baseFontSize;
    font-weight: 600;
    font-size: 35rem/$baseFontSize;
    padding-left: 30rem/$baseFontSize;
  }

  .kill-module {
    width: 100%;
    padding: 0 30rem/$baseFontSize;
    box-sizing: border-box;

    .limit-shop {
      width: 100%;
      padding: 45rem/$baseFontSize 30rem/$baseFontSize;
      box-sizing: border-box;
      border-radius: 8px;
      background: #ffffff;
      margin: 0 auto;
      margin-top: 38rem/$baseFontSize;
      padding: 35rem/$baseFontSize;

      .limit-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35rem/$baseFontSize;

        .limit-word {
          font-weight: 600;
          font-size: 35rem/$baseFontSize;
        }

        .look-more {
          color: #999999;
          font-size: 24rem/$baseFontSize;
        }
      }

      .countdown {
        .countdown-style {
          display: inline-block;
          padding: 10rem/$baseFontSize;
          height: 39rem/$baseFontSize;
          background: rgb(51, 51, 51);
          color: #fff;
          text-align: center;
          line-height: 39rem/$baseFontSize;
          font-size: 29rem/$baseFontSize;
        }
      }

      .countdown-word {
        font-size: 26rem/$baseFontSize;
        color: rgb(153, 153, 153);
      }

      .limit-selected {
        width: 100%;
        overflow: hidden;
        margin-top: 41rem/$baseFontSize;
        touch-action: none;

        .limit-content {
          margin-top: 55rem/$baseFontSize;

          .limit-goods {
            .goods-name {
              font-weight: bold;
              font-size: 28rem/$baseFontSize;
              margin-top: 20rem/$baseFontSize;
            }

            .limit-item {
              position: relative;
              overflow: hidden;
              margin-right: 0.40rem;
              display: inline-block;
              width: 173rem/$baseFontSize;
              line-height: 64rem/$baseFontSize;
              border-radius: 8px;
              color: rgb(29, 29, 29);
              font-size: 28rem/$baseFontSize;
              text-align: center;
              font-size: 28rem /$baseFontSize;
            }
          }
        }
      }


      .point-seconds {
        display: flex;

        .seconds-img {
          width: 106rem/$baseFontSize;
          height: 130rem/$baseFontSize;
          padding: 30rem/$baseFontSize 50rem/$baseFontSize;
          border-radius: 20rem/$baseFontSize;
          background: #f3f3f3;
        }

        .seconds-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 22rem/$baseFontSize;

          .seconds-name {
            font-size: 28rem/$baseFontSize;
            font-weight: bold;
          }

          .need-point {
            font-size: 28rem/$baseFontSize;
          }

          .point-bottom {
            display: flex;
            justify-content: space-between;

            .seconds-price {
              font-weight: bold;
              font-size: 30rem/$baseFontSize;
            }

            .old-price {
              color: #999999;
              font-size: 24rem/$baseFontSize;
              text-decoration: line-through;
            }

            .pay-progress {
              width: 190rem/$baseFontSize;
            }

            .seconds-button {
              width: 162rem/$baseFontSize;
              height: 62rem/$baseFontSize;
              border-radius: 30rem/$baseFontSize;
              text-align: center;
              color: #fff;
              line-height: 62rem/$baseFontSize;
              background: #ea6c6b;
              margin-left: 67rem/$baseFontSize;
              margin-top: 30rem/$baseFontSize;
            }
          }
        }
      }

      .point-seconds:nth-child(1) {
        border-bottom: rgb(237, 237, 237) solid 1px;
        padding-bottom: 51rem/$baseFontSize;
      }

      .point-seconds:nth-child(2) {
        margin-top: 51rem/$baseFontSize;
      }
    }
  }
  .product-box {
    margin: 0 auto;
    margin-top: 48rem/$baseFontSize;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-item {
      width: 339rem/$baseFontSize;
      height: 532rem/$baseFontSize;
      border-radius: 25rem/$baseFontSize;
      background: #fff;
      margin-bottom: 20rem/$baseFontSize;

      .productImg {
        width: 200rem/$baseFontSize;
        height: 200rem/$baseFontSize;
        margin: 71rem/$baseFontSize auto;
        background-position: center center;
        background-size: cover;
      }

      .product-price, .product-name, .product-explain {
        margin-left: 21rem/$baseFontSize;
      }

      .product-price {
        margin-top: 22rem/$baseFontSize;
      }

      .product-name {
        font-weight: bold;
        font-size: 28rem/$baseFontSize;
      }

      .product-explain {
        font-size: 24rem/$baseFontSize;
        color: #999999;
        margin-top: 28rem/$baseFontSize;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}


.border-grey {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #f00;
  margin-left: 20px;
}
.no-more {
  width: 100%;
  text-align: center;
  color: #999999;
  padding-top: 38rm/$baseFontSize;
  margin-bottom: 270rem/$baseFontSize;
}

/deep/ .mt-progress-progress {
  background: rgb(220, 108, 56);
}

/deep/ .mt-progress-runway {
  border-radius: 8rem/$baseFontSize;
  overflow: hidden;
}

/deep/ .mt-progress-progress {
  border-radius: 8rem/$baseFontSize;
  overflow: hidden;
}
